/*PERSONAL SIDE ACTIVE STYLESHEET */
/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
/*a dark blue*/
/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
/*a dark blue*/
/*also changes the background for the top level items as well*/
/*header variables*/
/*VARIABLES */
.pre-top-bar-section ul li a.personal_active {
  background: rgba(255, 255, 255, 0.08); }

.corporate_active {
  display: none !important; }

.pre-top-bar-section ul li a.personal {
  background: rgba(255, 255, 255, 0.08); }
