/*PERSONAL SIDE ACTIVE STYLESHEET */

@import 'config/colors';
@import 'site/attentive_variables';

.corporate_section {
	display:none !important;
}

.personal_section {
	display:inherit !important;
}

.pre-top-bar-section {
	 ul {
	 	li a {
			&.personal_style {
				background: $header_menu_overlay;
			}
			&.corporate_style {
				background: transparent;
			}			
			span:hover {
			}
		} 	
	}
}