/*PERSONAL SIDE ACTIVE STYLESHEET */

@import 'config/colors';
@import 'site/attentive_variables';

.pre-top-bar-section {
	 ul {
	 	li a {
		&.personal_active {
			background: $header_menu_overlay;
			}			
		}
	}
}

.corporate_active {
	display:none !important;
}

.pre-top-bar-section {
	 ul {
	 	li a {
			&.personal {
				background: $header_menu_overlay;
			}
			span:hover {
			}
		} 	
	}
}