/*PERSONAL SIDE ACTIVE STYLESHEET */

@import 'config/colors';
@import 'site/attentive_variables';

.corporate_section {
	display:none !important;
}

.personal_section {
	display:inherit !important;
}

.pre-top-bar-section {
	 ul {
	 	li a {
			&.personal_style {
				background: $header_menu_overlay;
			}
			&.corporate_style {
				background: transparent;
			}			
			span:hover {
			}
		} 	
	}
}


@media only screen and (min-width:40.063em) {
	.top-bar {
		background-color: $personal_bg_header_primary;
		background: radial-gradient(
			circle at bottom center,
			$personal_bg_header_highlight, $personal_bg_header_primary)
		;
	}
}