/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

 $greige: #776C5F;
 $greige_light: #D1C1AB;
 $footer_greige: #988C7B;
 $red: #722519;
 $green: #559633;
 $personal_primary: $green;
 $blue: #275982;
 $corporate_primary: $blue;

$small_contrast: #F7F6F5;
$yellow: #F0CC4E;

$header_title:#1B3951;
$anchor-font-color: #265981; /*a dark blue*/

$corporate_bg_header_primary: #16304B;
$corporate_bg_header_highlight: #2f6c9d;
$header_menu_overlay: rgba(255,255,255, 0.08);
$header_menu_dropdown_overlay: rgba(255,255,255, 0.95);
