/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

 $greige: #776C5F;
 $greige_light: #D1C1AB;
 $footer_greige: #988C7B;
 $red: #722519;
 $green: #559633;
 $personal_primary: $green;
 $blue: #275982;
 $corporate_primary: $blue;
 $small_contrast: #F7F6F5;