/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$greige: #776C5F;
$greige_light: #D1C1AB;
$footer_greige: #988C7B;
$red: #722519;
$green: #559634;
/*$yellow: #ebd025;*/
$personal_primary: $green;
$blue: #275982;
$blue_light: #7DACE3;
$blue_dark:#1B3951;
$corporate_primary: $blue;
$corp_wellness: teal;

$small_contrast: #F7F6F5;
$yellow: #F0CC4E;

$header_title:#1B3951;
$anchor-font-color: #265981; /*a dark blue*/

$corporate_bg_header_primary: #16304B;
$corporate_bg_header_highlight: #2f6c9d;

$personal_bg_header_primary: #569634;

$personal_bg_header_highlight: #86A66C;

$header_menu_overlay: rgba(255,255,255, 0.08);
$header_menu_dropdown_overlay: rgba(255,255,255, 0.95);

$hero_green_button: #54972C;

$blurb_bg: #DFE7D9;
$blurb_bg_corporate: #DFE7D9;
$blurb_bg_personal: #EDF3FC;
