@font-face {
	font-family: 'attenticon';
	src:url('fonts/attenticon.eot?mv9hh1');
	src:url('fonts/attenticon.eot?#iefixmv9hh1') format('embedded-opentype'),
		url('fonts/attenticon.woff?mv9hh1') format('woff'),
		url('fonts/attenticon.ttf?mv9hh1') format('truetype'),
		url('fonts/attenticon.svg?mv9hh1#attenticon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="at-"], [class*=" at-"] {
	font-family: 'attenticon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.at-pricetags:before {
	content: "\e61c";
}

.at-star:before {
	content: "\e615";
}

.at-tag2:before {
	content: "\e61a";
}

.at-bulb:before {
	content: "\e616";
}

.at-paperplane:before {
	content: "\e617";
}

.at-clip:before {
	content: "\e618";
}

.at-calendar:before {
	content: "\e61b";
}

.at-world:before {
	content: "\e619";
}

.at-chat:before {
	content: "\e60a";
}

.at-help:before {
	content: "\e60b";
}

.at-link:before {
	content: "\e60c";
}

.at-search:before {
	content: "\e60d";
}

.at-cog:before {
	content: "\e60e";
}

.at-pencil2:before {
	content: "\e60f";
}

.at-info:before {
	content: "\e610";
}

.at-clock2:before {
	content: "\e611";
}

.at-share:before {
	content: "\e612";
}

.at-images:before {
	content: "\e613";
}

.at-images2:before {
	content: "\e614";
}

.at-link2:before {
	content: "\e005";
}

.at-image:before {
	content: "\e010";
}

.at-clipboard:before {
	content: "\e013";
}

.at-clock3:before {
	content: "\e014";
}

.at-search2:before {
	content: "\e036";
}

.at-upload:before {
	content: "\e068";
}

.at-download:before {
	content: "\e069";
}

.at-tag:before {
	content: "\e085";
}

.at-file:before {
	content: "\e124";
}

.at-open:before {
	content: "\e128";
}

.at-circle-f:before {
	content: "\e600";
}

.at-circle-p:before {
	content: "\e601";
}

.at-clock:before {
	content: "\e602";
}

.at-document-fat:before {
	content: "\e603";
}

.at-document-thin:before {
	content: "\e604";
}

.at-fork:before {
	content: "\e605";
}

.at-heart-beat:before {
	content: "\e606";
}

.at-img:before {
	content: "\e607";
}

.at-pencil:before {
	content: "\e608";
}

.at-wrench:before {
	content: "\e609";
}