@mixin menu_hover_effect {
	border-top: 3px solid rgba(255,255,255, 0.3);
	padding-top: 2px;
	//opacity: 1;
	//@include single-transition();
	-webkit-transition: border-width 300ms ease-in-out;
	-moz-transition: border-width 300ms ease-in-out;
	-ms-transition: border-width 300ms ease-in-out;
	-o-transition: border-width 300ms ease-in-out;
	transition: border-width 300ms ease-in-out;
}

/*@media only screen and (min-width:40.063em) {
	.top-bar {
		background-color: $corporate_bg_header_primary;
		background: radial-gradient(
			circle at bottom center,
			$corporate_bg_header_highlight, $corporate_bg_header_primary)
		;
	}
}*/

.top-bar {
	height: $header_height;
	line-height: 45px;
	
	.name {
		height: $header_height;
	}

	ul.title-area {
		position: relative;
		width: $logo_width_size;

		li.name h1 a {
			padding: 8px 4px 0 4px;
			div.header_logo {
				background: url('images/logo_attentivehealth_white.svg') no-repeat center center;
				background-size: contain;
				text-indent: -9999px;
				height: $header_height / 1.13;
			}
		}
	}
}




%top-bar-section-style {
	display: table; /*otherwise, if this was inline-block, there'd be a gap between the sections*/
	width: $top_bar_width;
}

.pre-top-bar-section {
	@extend %top-bar-section-style;
	height: $pre_top_bar_height;
	 ul {
	 	margin-left: 0;

	 	li a {
	 	list-style: none;
		font-style: normal;
		font-weight: normal;
		padding: 0 (($pre_top_bar_height / 3) + $top_bar_left_padding_number);
		line-height: $pre_top_bar_height;
			&.left {
			 	float: left;
			 	color: $topbar-link-color;
				font-size: rem-calc(13);			
			}
			&.right {
				float: right;
				font-size: rem-calc(10);
			}
			&.passport {
				span {
					color: $yellow;
					@include single-transition;
					&:hover {
						border-top: none;
						color: saturate($yellow, 40%);
					}
					&:after {
						content: '\25E5';
						margin-left: -1px;
						position: relative;
						top: -6px;
						font-size: 9px;				
					}
				}
			}
/* DEACTIVATED TO FORCE STYLING INTO SEPERATE STYLESHEETS
			&.corporate {
				background: $header_menu_overlay;
			}
*/
			span:hover {
				@include menu_hover_effect;
			}
		} 	
	}
}


section.top-bar-section {
	@extend %top-bar-section-style;
	background: $header_menu_overlay;
	padding: 0 $top_bar_left_padding_number+5 0 $top_bar_left_padding_number;

	li.menu_cta { /*rules for the call to action button*/
		a span {
			border: 2px solid #FFF;
			background-color: $corporate_primary;
			box-shadow: 0 0 10px $corporate_primary;
			border-radius: 30px;
			padding: 5px 10px;
			text-transform: uppercase;
			-webkit-transition: background 150ms ease-out;
			-moz-transition: background 150ms ease-out;
			-ms-transition: background 150ms ease-out;
			-o-transition: background 150ms ease-out;
			transition: background 150ms ease-out;		
		}
	}
	
	/*the states of the main navigation buttons when on the active page, and hovering, but only for the first level */
	li {
		&.active:not(.has-form) { 
			> a:not(.button) {
				background: transparent !important;
				
				> span {
			    @include menu_hover_effect;
				}
			}
		}
	}

	/**** HOVER EFFECTS ********/

	li:not(.menu_cta) a:not(.button):hover > span { /*hover effect for top level nav items*/
		@include menu_hover_effect;
	}
	li.menu_cta a:not(.button) {
		&:hover > span { /*hover effect for top level nav items*/
			background-color: darken($corporate_primary, 5%);
		}
		&:active > span {
			box-shadow: inset 0 0 10px darken($corporate_primary, 10%);
			color: #F5F5F5;
		}
	}
	.dropdown li {
		border-bottom: 1px solid rgba(0,0,0,.1);
		border-bottom: 1px solid #CCC;
	}
	.dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
		color: $jet;
		background: $header_menu_dropdown_overlay;
		background: #FFF;
	}
}




.right-off-canvas-toggle.right-menu-icon {
	float: right;
	color: #FFF;
	margin-right: 1rem;
	i {
		font-size: 1.5rem;
		position: relative;
		top: 4px;
		line-height: initial;		
	}
}