
/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
  opacity: 0;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;
}

.hvr-outline-out.corporate:before {
  border: #275982 solid 4px;
}

.hvr-outline-out.personal:before {
  border: #559634 solid 4px;
}

.squeeze_image img {
	display: block;
	&:hover {
		opacity:.8;
	}
}

#homepage-hero {
	@include homepage-hero(#{corporate}, 500px);

	h1 {
		margin-top: 7rem;
		color: #B0CFED;
		font-size: 38px;
		font-weight: bold;
		font-family: $body-font-family;
	}
	.tagline {
		color: #FFF;
		font-family: $body-font-family;
		font-size: 24px;
	}
	.button.hero_area {
		display: table;
		background-color: $hero_green_button;
		margin-top: 1.5rem;
		font-family: $header-font-family;
		letter-spacing: 2px;
	}
}

.blurb {
	background: $blurb_bg_corporate;
	padding: 2rem 0;
	h3 {
		text-transform: uppercase;
		color: $green;
		letter-spacing: 3px;
		font-weight: 500;
		a {
			color: $green;
			@include single-transition;
			&:hover {
				color: darken($green, 10%);
			}
		}
	}
	i.circle {
		@include circle_icon(.8);
		color: $green;
			@include single-transition;
			&:hover {
				color: darken($green, 10%);
				transform: rotate(45%);
			}
	}
	h3.show-for-small-only {
		margin-bottom: 20px;
		i.circle {
			@include circle_icon(.6);
			position: relative;
			top: 8px;
			margin-right: 5px;			
		}
	}
}

@media only screen and (max-width: 64em) {  /* max-width 640px, mobile-only styles, use when QAing mobile issues */

	.squeeze_image img {
		padding: 0 0 1rem 0;
	}

	#homepage-hero {
		background: url("images/hero_attentivehealth_corporate.jpg") no-repeat center center;
		height: auto;
		min-height: inherit;
		text-align: center;

		h1 {
			margin-top: 0;
			font-size: 27px;
			text-align: center;
		}

		.tagline {
			display: inline-block;
			font-size: 18px;
			text-align: center;
		}
		.button.hero_area {
			margin: 1rem auto .5rem;
		}
	}

	.blurb {
		padding: 1rem 0;
		.omega {
			margin-top: 1rem;
		}
	}

}


body.page-template-home_personal-php, body.page-template-home_corporate-php {
	section.container {
		margin-bottom: 0;
	}
}