.wpurp-recipe-grid-filter-box {
	margin-left: 7px;
	
	.select2-container-multi .select2-choices {
		border-color: darken($personal_primary, 15%);
		background: $personal_primary !important;



		li.select2-search-field {		
			input {
				font-size: 100%;
				color: #FFF !important;
				outline: 0;
				border-color: darken($personal_primary, 15%);
				-webkit-box-shadow: none;
				box-shadow: none;
				background: $personal_primary !important;
				margin: 0;
				padding-left: .5em;	
			}
		}
	}
}

article.recipe .entry-content .wpurp-container {
	margin: 0 !important;
	max-width: 100%;
}