/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */


/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */


// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}


// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


button, .button {
	border-radius: $global-rounded;
}

/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

$header_height: 130px;


@media only screen and (min-width:40.063em) {
	.top-bar {
		background-color: $corporate_bg_header_primary;
		background: radial-gradient(
			circle at bottom center,
			$corporate_bg_header_highlight, $corporate_bg_header_primary)
		;
	}
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  		background: $header_menu_overlay !important;
/*this fakes a white line above the space
	  background-image: 
    linear-gradient(
      to bottom,
      transparent 0%,
      transparent 15%,
      #FFFFFF 15%,
      #FFFFFF 26%,
      transparent 26%
    ) !important;
     */
  	}

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
  background: $header_menu_overlay !important;
}


ul.title-area li.name h1 a div.header_logo {
	background: url('images/logo_attentivehealth_white.svg') no-repeat center center;
	text-indent: -9999px;
	width: 100px;
	height: $header_height;
}

.top-bar {
height: $header_height;
line-height: 45px;
	.name {
		height: $header_height;
	}

}

// A more subtle background color for the active menu item
.top-bar-section li.active:not(.has-form) a:not(.button)  {
	background: #272727;
}
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: #202020;
}

.right-off-canvas-toggle.right-menu-icon {
	float: right;
	color: white;
	//margin-top: 1rem;
	margin-right: 1rem;
	i {
		font-size: 1.5rem;
		position: relative;
		top: 4px;
	}
}

/* Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		padding-top: rem-calc(20);
		border-top: solid 4px $small_contrast;

	}
}
*/

footer.row {
	border-top: solid 10px $small_contrast;
	max-width: 100%;
	margin-bottom: 1.5rem;
}

// makes it so that the medium new grid rules only apply to medium and up. the next mixin does it only for small screens
@media #{$medium-up} {
.footer_grid {
	$total-columns:10;
	@include grid-row();
	@include grid-html-classes($size:medium);
	$total-columns:10;
	}
}

@media #{$small-only} {
	.footer_grid {
		$total-columns:10;
		@include grid-row();
		@include grid-html-classes($size:small);
		$total-columns:10;
	}
}

.footer_grid {
	padding-top: rem-calc(20);


  article.widget {
  	text-align: center;
  	padding-top: .5rem;
  	@include footer_font_style;
  	p {
  		@include footer_font_style;
  	}
  	ul {
  		margin-left: 0;
  		li {
	  		list-style: none;
	  		@include footer_font_style;
	  		
	  		a {
	  			color: $greige;
	  		}
  		}
  	}
  	&.dots {
  		border-right: 2px $greige_light dotted;
  	}
  }
}


.credit_footer {
	background: $small_contrast;
	height: 3rem;
	.centered {
		width: 325px;
		margin: .5rem auto 0 auto;
	}
}
/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */

	 // Hero

	#homepage-hero {
		background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
		padding: rem-calc(20) 0;
		margin: - rem-calc(32) 0 rem-calc(32);
		position: relative;
		text-align: left;
		height: auto;

			h1 a, h4 { color: #fff; }

			.floatingyeti img {
				max-width: 30%;
				position: absolute;
				right: rem-calc(100);
			}

			.download { margin-top: rem-calc(20); }
		}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here