article a:hover {
	text-decoration: underline;
}


h1.entry-title {
	font-weight: bold;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.paragraph_lead {
	color: #2c2c2c;
	font-size: 1.3rem;
}

.home_sidebar_link:before {
	content: '\25E4';
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	font-size: 9px;
	display: inline-block;
	position: relative;
	top: -3px;
	margin-left: -9px;
}

input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 1000px;
}

.attentive_button {
  @include button(rem-calc(9), $primary-color, 1000px);
  font-size: $base-font-size;
  &.red_button {
  	background-color: $red;
		&:hover {
			background-color: darken($red, 10%);
		}  	
  }
  &.green_button {
  	background-color: $green;
		&:hover {
			background-color: darken($green, 10%);
		}  	
  }  
}

.button {
	text-transform: uppercase;
	letter-spacing: 1px;
	&.personal {
		background-color: $personal_primary;
		&:hover {
			background-color: darken($personal_primary, 10%);
		}
	}
}

/*TABLE STYLES*/

.tablepress {
	.resources_nutrition {
		color: $green;
		font-weight: bold;
	}
	.resources_fitness {
		color: darken($yellow, 10%);
		font-weight: bold;
	}
	.resources_relationships {
		color: $red;
		font-weight: bold;
	}
	.resources_career {
		color: $greige;
		font-weight: bold;
	}
	.resources_wellbeing {
		color: $blue;
		font-weight: bold;
	}			
	.resources_corp_wellness {
		color: $corp_wellness;
		font-weight: bold;
	}	
}

.footable>tbody>tr>td.footable-row-detail-cell, .footable>tbody>tr>td.footable-first-column, .footable>thead>tr>th.footable-first-column, .footable>thead>tr>td.footable-first-column {
	padding-left: 15px;
}

.dataTables_info, .dataTables_paginate {
	display: none;
}

/* the search submit button on the 404 page */

form#searchform input#searchsubmit {
  border-radius: 0 20px 20px 0px;
  width: 50%;
}

.container {

	ul {
		padding-left: 1.1rem;
	}

	.red, .relationships {
		color: $red;
	}
	.green, .nutrition {
		color: $green;
	}
	.blue, .spiritual {
		color: $blue;
	}
	.yellow, .fitness {
		color: $yellow;
	}
	.greige, .career {
		color: $greige;
	}				
}
