div.tribe-events-schedule.published.tribe-clearfix {
	display: none;
}

#tribe-events-content.tribe-events-single h2.tribe-events-single-event-title {
	margin-bottom: 1rem;
}

#tribe_events_filters_wrapper {
	h3 {
		&.tribe-events-filters-group-heading {
			font-size: 1.1rem;
			font-weight: 100;
		}
		span:after {
			top: 2px;
		}
	}
}

.tribe-events-list {
	
	.tribe-events-loop .tribe-events-event-meta {
		display: block;
		padding:0;
	}

	.vevent.hentry h2 {
	  font-size: 2.2em;
	}
}